body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-section, .right-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

}

h2 {
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 14px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

.roles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin: 20px 0;
}

.role-button {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.role-button.active {
  background: #007bff;
  color: #fff;
}

.social-login button {
  background: #f5f5f5;
  border: none;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.social-login button:hover {
  background: #e0e0e0;
}

.divider {
  margin: 20px 0;
  font-size: 14px;
  color: #aaa;
  text-align: center;
}

.signup-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.signup-form label {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
}

.signup-form label a {
  color: #007bff;
  text-decoration: none;
}

.submit-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #0056b3;
}